fastapi>=0.65.1
motor>=2.4.0
python-multipart>=0.0.5
redis>=3.5.3
requests>=2.25.1
rq>=1.8.1
uvicorn>=0.13.4
aiohttp>=3.8.1
websockets>=10.3
tomli>=2.0.1
isort
black
pytest
pytest-lazy-fixture
pytest-asyncio
httpx
pytest-mock