@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
}

.bg-west-coast {
	--tw-bg-opacity: 1;
	background-color: rgb(0 48 80 / var(--tw-bg-opacity));
}

.text-west-coast {
	color: rgb(0 48 80 / 1);
}

.border-west-coast-300 {
	--tw-border-opacity: 1;
	border-color: rgb(179 193 203 / var(--tw-border-opacity));
}

.hover\:bg-west-coast:hover {
	--tw-bg-opacity: 0.7;
	background-color: rgb(0 48 80 / var(--tw-bg-opacity));
}

